__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
.env
*.so
*.pyc
*.pyo
*.pyd
.coverage.*
.coverage
htmlcov/
build/
dist/
*.egg-info/
.tox/
.nox/
.hypothesis/
.cache
.ruff_cache/
env/
venv/
ENV/
db.sqlite3
db.sqlite3-journal
